{% extends "website/layout.html" %}
{% load static %}

{% block body %}

<div class="Intro">
    <h1 class="IntroWords">Study Effectively</h1>
    <h1 class="IntroWords">&amp; Beautifully</h1>
    <p class="IntroLine">Ôn thi digital SAT provides learners with knowledge and resources for the new Digital SAT.</p>
    <button type="button" class="btn btn-primary custom-btn">Get Started</button>
</div>

<div>
    <picture>
        <img src="{% static 'website/index.webp' %}" alt="My Image" class="fit-image">
    </picture>
</div>



<div class="diffSection" id="about_section">
    <center><p style="font-size: 50px; padding: 60px">About</p></center>
    <div class="about-content">
        <div class="side-image" >
            <img class="sideImage" src="{% static 'website/avatar.jpeg' %}">
        </div>
        <div class="side-text">
            <h3>Xin chào!</h3>
            <p>Cảm ơn bạn đã ghé thăm website của <em>Ôn thi digital SAT</em>. Tuy rằng website vẫn còn nhiều điểm cần hoàn thiện nhưng vẫn đủ để có thể giúp cho việc chia sẻ những kiến thức và kinh nghiệm của mình đến với mọi người một cách dễ dàng hơn.<br><br> <em>Ôn thi digital SAT</em> bắt đầu là một fanpage Facebook từ cuối năm 2022 và dần phát triển thêm thành kênh Youtube và Website chia sẻ chủ yếu về cách học tiếng Anh nói chung và SAT nói riêng. <br><br><em>Ôn thi digital SAT</em> được sáng lập bởi Nguyễn Thanh Lâm - Học sinh hệ song ngữ Anh-Nga trường THPT Chuyên Nguyễn Huệ, 1550 digital SAT scorer.</p>
        </div>
    </div>
</div>

  <div class="diffSection" id="features" style="margin-top: 8%;">
    <div class="features-section" id="features-section">
    <h1 class="blogIntroWords">Features &amp; Benefits</h1>
    <p class="blogIntroLine">Great Is More Than the <br>Sum of Its Parts</p>
    </div>
      <div class="featureCardsContainer">
        <div class="card mb-3 custom-card" style="width: 75%; height: 350px; border-radius: 5%; margin-bottom: 50px;">
            <div class="row g-0">
              <div class="col-md-6" style="padding-right: 0%;">
                <img src="{% static 'website/cup.png' %}" class="img-fluid rounded-start" alt="..." style="border-radius:5% 0% 0% 5%; height: 100%; object-fit: cover;">
              </div>
              <div class="col-md-6" style="padding-left: 0%;">
                <div class="card-body" style="padding: 5% 5% 5% 0%">
                  <h5 class="card-title" style="font-size: 39.12px;color: #126656;font-family: 'Questrial', sans-serif; margin-top: 5%; margin-bottom: 5%;">Tài liệu chuẩn</h5>
                  <p class="card-text" style="font-size: 18px;color: #126656;font-family: 'Questrial', sans-serif;">Những tài liệu mình đưa lên trên đây đều là những <br>tài liệu được kiểm nghiệm và công nhận bởi nhiều <br>thầy cô dạy SAT và tiếng Anh nói chung nên mọi <br>người có thể yên tâm về chất lượng của những tài <br>liệu này nhé.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 custom-card" style="width: 75%; height: 300px; border-radius: 5%;">
            <div class="row g-0">
              <div class="col-md-6" style="padding-right: 0%;">
                <img src="{% static 'website/eye.png' %}" class="img-fluid rounded-start" alt="..." style="border-radius:5% 0% 0% 5%; height: 100%; object-fit: cover;">
              </div>
              <div class="col-md-6" style="padding-left: 0%;">
                <div class="card-body" style="padding: 5% 5% 5% 0%">
                  <h5 class="card-title" style="font-size: 39.12px;color: #126656;font-family: 'Questrial', sans-serif; margin-top: 5%; margin-bottom: 5%;">Kiến thức vững vàng</h5>
                  <p class="card-text" style="font-size: 18px;color: #126656;font-family: 'Questrial', sans-serif;">Mình là một học sinh vừa thi digital SAT ở kì tháng 3<br> và đạt số điểm 1550 nên kiến thức vẫn chắc chắn, <br>cộng thêm việc mình có gốc tiếng anh khá vững từ <br>nhỏ nên những bài tập mình tạo trên này thì mọi người <br>có thể yên tâm về chất lượng.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 custom-card" style="width: 75%; height: 300px; border-radius: 5%;">
            <div class="row g-0">
              <div class="col-md-6" style="padding-right: 0%;">
                <img src="{% static 'website/hand.png' %}" class="img-fluid rounded-start" alt="..." style="border-radius:5% 0% 0% 5%; height: 100%; object-fit: cover;">
              </div>
              <div class="col-md-6" style="padding-left: 0%;">
                <div class="card-body" style="padding: 5% 5% 5% 0%">
                  <h5 class="card-title" style="font-size: 39.12px;color: #126656;font-family: 'Questrial', sans-serif; margin-top: 5%; margin-bottom: 5%;">Kiến thức cho mọi người</h5>
                  <p class="card-text" style="font-size: 18px;color: #126656;font-family: 'Questrial', sans-serif;">Tuy rằng mình có mở lớp học nhỏ 4-5 người nhưng mà những kiến thức ở trên đây cũng như khi mọi người inbox page thì mình đều sẵn sàng chia sẻ một cách miễn <br>phí và tận tâm. Động lực để mình duy trì fanpage chính là sự ủng hộ của các bạn, <br>nếu mọi người thấy fanpage mình hữu ích thì hãy share cho người thân mình cùng học nhé.</p>
                </div>
              </div>
            </div>
           </div>
           <div class="custom-card" style="background: #CCDEE2; width: 100%; padding: 8%;">
            <p class="blogIntroLine">There Is Something for Everyone</p>
            <p class="blogIntroLines">Ôn thi digital SAT hướng đến sự giáo dục toàn diện, <br>ai cũng có điểm mạnh cần được phát huy và điểm yếu cần phải khắc phục.</p>
           </div>
          </div>
      </div>

<div>
  <picture>
      <img src="{% static 'website/footer.webp' %}" alt="My Image" class="fit-image" style="width: 100%;height: auto;object-fit: cover; max-height: 1500px;">
  </picture>
</div>

<footer class="footer">
  <div class="footer-container">
    <div class="row">
      <div class="footer-col">
        <h4>Ôn thi digital SAT</h4>
        <ul>
           <li><a href="#">Home</a></li>
           <li><a href="#">About Us</a></li>
           <li><a href="#">Our services</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Contact</h4>
        <ul>
           <li>0936284987</li>
           <li>thanhlamtba@gmail.com</li>
           <li>onthidigitalsat@gmail.com</li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Follow us</h4>
        <ul>
           <li><a href="https://www.facebook.com/profile.php?id=100088494652396">Facebook</a></li>
           <li><a href="https://www.youtube.com/@zaderst3313/videos">Youtube</a></li>
           <li><a href="https://www.facebook.com/profile.php?id=100013128196841">My Facebook Account</a></li>
        </ul>
      </div>
    </div>
  </div>
  <center><small style="font-family: 'Questrial', sans-serif; color: #126656;">@2023 Ôn thi digital SAT created by Nguyễn Thanh Lâm.</small></center>
</footer>


{% endblock %}
{% block script %}
<script src="{% static 'website/script.js' %}"></script>
{% endblock %}