{% extends "website/layout.html" %}
{% load static %}

{% block body %}
<h1>Login</h1>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>

{% endblock %}
{% block script %}
<script src="{% static 'website/script.js' %}"></script>
{% endblock %}