body {
    background-color: #faf5e5;
    margin: 0;
    padding: 0;
}

/*header*/


.navbar {
    height:12%;
    display:flex;
    align-items: center;
    padding-left:8%;
    padding-right:8%;
    margin-bottom:3%;
    margin-top:2%;
}

.websiteName {
    display: flex;
    font-family: "Questrial", sans-serif;
    font-size: 25px;
    position: relative;
    margin-top: 0.6%;
    color: #126656;
    font-weight: bold;
    width:40%
}

.websiteName a {
    text-decoration: none;
    color: #126656;
}

.navbar-items {
    justify-content: right;
    height: 29.999998;
    width: 30%;
    display:flex;
    margin: 0;
    position: relative;
    list-style: none;

}

.navbar-items li {
    margin-left: 40px;
    line-height: 30px;
}

.navbar-items li a {
    text-decoration: none;
    color: #126656;
    direction: rtl;
}

.fit-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 1500px; /* Adjust the desired height */
}
/* Intro */
.Intro {
    text-align: center;
}

.IntroWords {
    display: block;
    font-family: "Questrial", sans-serif;

    margin: 0 auto;
    font-size: 90px;
    color: #126656;
}

.IntroLine {
    color: #126656;
    font-family: "Questrial", sans-serif;
    font-size: 20px;
    padding: 15px;
    font-weight: 300;
}
/*Get Started button*/
.custom-btn {
    background-color: #126656;
    border-radius: 20px;
    width: 200px;
    height: 43px;
    font-weight: 300;
}

.custom-btn:hover {
    background-color: #faf5e5;
    color: #126656;
    border: #126656 solid;
}

/* design about section*/
#about_section {
    font-family: 'Open Sans', sans-serif;
    color: #126656;
    position: relative;
}

.diffSection {
    width: 100%;
    /*position: relative;*/
    justify-content: center;
    align-items: center;
}

.about-content {
    width: 100%;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}
.about-content .side-text {
    width: 650px;
    padding: 50px 40px;
    background: #faf5e5;
    box-shadow: 2px 0 100px rgba(0,0,0,0.3);
    border-radius: 5px;
    text-align: justify;
    line-height: 22px;
    opacity: 0;
    transform: translateX(-100px);
    transition: 1s ease-in-out;
}
.about-content .side-text-appear {
    opacity: 1;
    transform: translateX(0px);
}
.about-content .side-text h2 {
    padding: 10px;
}
.about-content .side-text p {
    padding: 10px;
}

.about-content .side-image {
    display: inline-block;
    width: 400px;
}

.about-content .side-image img {
    width: 90%;
    border-radius: 50%;
}
.sideImage {
    transform: translateX(100px);
    opacity: 0;
    transition: .8s ease-in-out;
}
.sideImage-appear {
    opacity: 1;
    transform: translateX(0px);
}
/*Design blog page*/
.news-layout {
    display: flex;
    gap: 20px;
}

.custom-row {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-inline-start: 20px;
}

.suggested-cards {
    flex: 1;
    border-left: 1px solid #000;
    padding-left: 10px;
}

.card-container {
    display: flex;
    justify-content: flex-start;
    max-width: 600px; /* Adjust the desired maximum width */
    margin: 0 auto; /* Center the container horizontally */
}

.card {
    flex: 0 0 calc(33.33% - 10px);
    width: 18rem;
    display: flexbox;
    grid-template-columns: repeat(auto-fit);
    grid-gap: 18px; border-radius: 10%;
    margin-right: 5px;
    margin-bottom: 5px;
}



.blogIntroWords {
    text-align: center;
    font-size: 22.6px;
    color: #B6743E;
    font-family: "Questrial", sans-serif;
    font-weight: 300;
}

.blogIntroLine {
    text-align: center;
    font-size: 60px;
    color: #126656;
    font-family: "Questrial", sans-serif;
    font-weight: 300;
}

.blogIntroLines {
    text-align: center;
    color: #126656;
    font-family: "Questrial", sans-serif;
    font-weight: 300;
    padding-top: 14px;
    padding-bottom: 60px;
}
.semi-background {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.article-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;

}

.article-title {
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 10px;
}

.article-meta {
    font-size: 14px;
    color: #888888;
    margin: 0;
}

.article-content {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 20px;
}

.article-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.article-description {
    border-left: 1px solid #000;
    font-weight: bold;
    padding-left:13px;
    font-size: 19px;
}

.containerForm {
    max-width: 1200px;
}

.rowForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.col-lg-4 {
    flex: 0 0 40%;
    max-width: 40%;
    padding-left: 7%
}

.col-lg-8 {
    flex: 0 0 60%;
    max-width: 60%;
}

.resources-layout {
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.featureCardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 10%;
    margin-top: 4%;
    width: 100%
}

.custom-card {
    position: sticky;
    top: 40%;
}

.features-section {
    position: sticky;
    top: 6%;
}

footer {
    background: #CCDEE2;
    padding: 50px 0;
}

.footer-container {
    max-width: 1170px;
    margin: auto;
}

ul {
    list-style: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 33.333334%;
    padding: 0 25px;
    margin-bottom: 90px;
}

.footer-col h4 {
    font-size: 25px;
    color: #126656;
    font-family: "Questrial", sans-serif;
    margin-bottom: 30px;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
    font-family: "Questrial", sans-serif;
	text-transform: capitalize;
	color: #126656;
	text-decoration: none;
	font-weight: 300;
	color: #126656;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;

/*responsive*/
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
}
}
@media(max-width: 574px){
    .footer-col{
      width: 100%;
}
}}